.news-card {
    border: 1px solid black;
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    .card-header {
        border: 1px solid black;
        width: auto;
    }
    .card-footer {
        border: 1px solid black;
    } 
    .card-description {
        border: 1px solid black;
    }
    .card-image {
        border: 1px solid black;
        width: 200px    ;
        height: 100px;
        img {
            height: inherit;
            width: inherit;
        }
    }
}