.news-card {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    .card-header {
        //border: 1px solid black;
        width: auto;
        margin-top: 5px;
    }
    .card-footer {
        //border: 1px solid black;
        cursor: pointer;
    } 
    .card-image {
        //border: 1px solid black;
        width: inherit    ;
        height: 100px;
        img {
            height: inherit;
            width: inherit;
        }
    }
}