.post-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 100%;
    text-align: center;
    .post-header {
        border: 1px solid black;
    }
    .post-image {
        border: 1px solid black;
        height: 50vh;
        width: 50vw;
        align-self: center;
        img {
            height: inherit;
            width: inherit;
        }
    }
    .post-description {
        border: 1px solid black;
        height: 30vh;
    }
}