
.App {
    box-sizing: border-box;
    margin: 0;
    .active {
        background-color: red;
        color: white;
    }
    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid black;
        height: 50px;
        margin-bottom: 10px;
        .categories {
            display: flex;
            flex-direction: row;
            width: 50%;
            border: 1px solid black;
            .nav-items {
                flex: 1;
                border: 1px solid black;
            }
            .nav-items:hover {
                background-color: red;
                color: white;
            }
        }
        .countries {
            display: flex;
            flex-direction: row;
            width: 10%;
            .country-items {
                flex: 1;
                border: 1px solid black;
            }
            .country-items:hover {
                background-color: red;
                color: white;
            }
        }
    }
    .app-body {
        height: auto;
        padding: 0px 20px 0px 20px
    }
}